<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SciWrite</h1>

    <div>
  <% @prompts.each do |prompt| %>
  <h2><a href="prompts/:id"><%= prompt.writing_prompt%></a></h2>
  <% end %>
    </div>


  </body>
</html>
