<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @prompt.writing_prompt %></h2>
    <% @prompt.crowd_stories.each do |crowd_story| %>

    <div>
    <p>
      <%=crowd_story.story %>
    </p>
    <% end %>
    </div>

  </body>
</html>
