<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="title">
      <h1>SciWrite</h1>
    </div>
    <div class="container">
      <div class="nav">
        <%= link_to "Writing Prompts", prompts_path, class: "text-link" %>
      </div>
      <div class="nav">
        <%= link_to "Image Gallery", images_path, class: "text-link" %>
      </div>

    </div>

  </body>
</html>
