<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>SciWrite</h1>
    <div class="container">
      <div>
        <%= link_to "Writing Prompts", prompts_path %>
      </div>
      <div>
        <%= link_to "Image Gallery", sendimages_path %>
      </div>

    </div>

  </body>
</html>
