<div class="title">
  <h1>New Image</h1>

</div>
<div class="story-form">
  <%= render 'form', image: @image %>
</div>

<div class="foot">
  <%= link_to 'Back', images_path, class: "back-link" %>

</div>
