<p id="notice"><%= notice %></p>

<div class="image-title">
  <h2 class="art-title"><%= @image.title %></h2>
</div>

<div class="container">
  <%= image_tag @image.imagedata.large.url, class: "image-large" %>

</div>
<div class="foot">
  <%= link_to 'Back', images_path, class: "back-link" %>
</div>
